/*
 * @Author: JuYangjia
 * @Date: 2019-01-07 14:43:29
 * @Description: 一些高频使用的class
 */
.main-bg-color{
    background-color: #05AFAF!important;
} 

.main-color{
    color: #05AFAF!important;
}

.main-border-color{
    border-color: #05AFAF!important;
}

.msg-icon-size{
    font-size: 30px!important;
}

.msg-error-icon-size{
    font-size: 35px!important;
}

.pointer{
     cursor: pointer;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.no-select{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.center{
    text-align: center!important;
}

.tleft{
    text-align: left!important;
}

.tright{
    text-align: right!important;
}

.inline-block{
    display: inline-block;
}
.padding{
    padding: 0 14px;
    box-sizing: border-box;
}
.padBottom:after {
    width: 100%;
    height: 70px;
    content: ".";
    display: block;
    visibility: hidden;
  }

.floatLeft{float: left!important;}
.floatRight{float: right!important;}
.fullSize{width: 100%;height: 100%;}
.radius{border-radius: 10px;}
.bottom-btn-palce{height: 50px;width: 100%;}

.bold{font-weight: 600!important;}

.link{display: inline-block;color:#2CAD88;margin:0px 7px;}

.padding14{
    padding:14px;
}

.gray-bgc{
    background-color: #fbfbfb;
}

.font-20{
    font-size:20px;
font-weight:600;
color:#333;
line-height:28px;
}

.font-16{
    font-size:16px;
    font-weight:600;
    color:#333;
    line-height:22px;
}

.font-14{
    font-size:14px;
    font-weight:400;
    color:#666;
    line-height:21px;
}

.font-12{
    font-size:12px;
    font-weight:400;
    color:#999;
    line-height:18px;
}

.info-cell{
    font-size:14px;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:20px;
    padding:7px 0px;
}
.infoLabel{
    display: inline-block;
}
.infoContent{
    float: right;
}